<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field">
    <%= form.label :タイトル %>
    <%# <%= form.text_field :title %> 
  <%# </div> %> 

  <div class="field">
    <%= form.label :説明 %>
    <%= form.hidden_field :content, id: :movie_content %>
    <trix-editor input="movie_content"></trix-editor>
  </div>

  <div class="field">
    <%= form.label :投稿するファイル %>
    <%= form.file_field :movie %>
  </div>

  <div class="new_post_form">
  <%= form_with(model: [@tag,@movie], local: true) do |f| %>
    <%= f.text_field :title, placeholder: "タイトルを入力（35文字まで）", class: 'uk-input' %>
    <%= f.text_field :tag_name, placeholder: "プログラミング技術や募集要項に関するタグをスペース区切りで5つまで入力(例 Ruby Rails )", class: 'uk-input uk-form-small' %>
  <% end %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
