<p id="notice"><%= notice %></p>

<h1>マニュアル一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.content %></td>
        <td><%= link_to '視聴', movie %></td>
        <td><%= link_to '編集', edit_movie_path(movie) %></td>
        <td><%= link_to '削除', movie, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿する', new_movie_path %>
