<!DOCTYPE html>
<html>
  <head>
    <title>三田店動画マニュアル</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6 main-title">三田店動画マニュアル</h1>
        <div class="user_nav grid-6">
        </div>
      </div>
      <%= render 'layouts/header'%>
    </header>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
